body{
    /* text-align: center; */
    background: lightgreen;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#maindiv{
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: 2px solid rgb(236, 228, 228);
    background-color: bisque;
    height: auto;
    width: 60%;
}
.image{
    height: 90px;
    border-radius: 50px;
} 
.choice-button{
    height: 100px;
    width: 100px;
    border:none;
    border-radius: 50px;
    margin: 10px;
    background-color: rgb(164,212,130);
    cursor: pointer;
}
.heading{
    color: rgb(249, 6, 59);
}